--extra-index-url https://download.pytorch.org/whl/cu121
--find-links https://data.pyg.org/whl/torch-2.3.1+cu121.html

numpy==1.26.4
scipy==1.16.2
torch==2.3.1+cu121
torchvision==0.18.1+cu121
torchaudio==2.3.1+cu121
torch-geometric==2.7.0
torch-scatter==2.1.2+pt23cu121
torch-sparse==0.6.18+pt23cu121
torch-cluster==1.6.3+pt23cu121
torch-spline-conv==1.2.2+pt23cu121
tqdm==4.67.1
matplotlib==3.10.7
scikit-learn==1.7.2
pymatgen==2025.10.7
mp-api==0.45.12
